<h2>Crear usuario</h2>

<form method="post" action="/signup">

<label>Nombre de Usuario:
    <input type="text" name="username"/>
</label>
<br/>
<label>Password:
    <input type="password" name="password" placeholder="******"/>
</label>

<button type="submit">Crear usuario</button>

</form>